

.image {
    height: 275px;
    width: 100%;
    object-fit: cover;
}

.menu {
  width: 100%;
    padding: 32px 13px 40px 13px;
    border-radius: 40px 40px 0px 0px;
    margin-top: -55px;
    position: relative;
    background-color: var(--background-color);
    gap: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

h2 {
    font-family: var(--title-font);
    font-size: 28px;
}

.name-restaurant {
    display: grid;
    grid-template-columns: 4fr 1fr;
    position: relative;
    width: 340px;
}

.name-restaurant .like {
  display: flex;
  font-size: 22px;
  justify-content: center;
  align-items: center;
}

    .name-restaurant .like i {
    position: absolute;
  
}


.plein {
     opacity: 0;
      background-image: linear-gradient(#9356DC, #FF79DA);
      background-clip: text;
    -webkit-background-clip: text;
      color: transparent;
      transition: opacity 300ms ease-in-out;
    }
    
      .plein:hover {
      opacity:1;
    }

.menu-section {
    display: flex;
    flex-direction: column;
    width: 349px;
    gap: 12px;
    animation: menu-section 900ms ease-in-out;
}
.menu-section--1 {
    animation-delay: 300ms;
    animation-fill-mode: both;
  }
  
  .menu-section--2 {
    animation-delay: 600ms;
    animation-fill-mode: both;
  }
  .menu-section--3 {
    animation-delay: 900ms;
    animation-fill-mode: both;
  }
  
  @keyframes menu-section {
      0% {
          transform: translateX(-1000px);
          opacity:0;
      }
  
    50% {
      opacity:0.5;
    }
      100% {
        transform: translateX(0);
        opacity:1;
      }
  }

h3 {
    text-transform: uppercase;
    font-weight: 300;
    height: 27px;
    width: 40px;
    border-bottom: solid 3px #99E2D0;
   
}

article {
    display: flex;
    flex-direction: column;
    gap: 12px;
}


.plate-and-price i {
    color:#99E2D0;
    background-color: white;
    border-radius: 25px;
    height: 20px;
    width: 20px;
    font-size: 12px;
    text-align: center;
    padding-top: 5px;

}

.plate-and-price {
  height: 69px;
  border-radius: 15px;
  padding: 10px;
  box-shadow: 0px 4px 15px 0px #0000001A;
  position: relative;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  transition: padding-right 300ms ease-in-out;
}
    
.plate-and-price:hover {
  
  padding-right: 69px;
}

    .plate-and-price:hover .select-button {
      opacity: 1;
      transform: translate(-59px);
     
    }
  

.select-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
  width: 59px;
  height: 69px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  position: absolute;
  padding: 20px;
  right: -59px;
  top: 0;
  opacity: 0;
  transition: transform 50ms ease-in-out, opacity 50ms 0ms ease-in-out;
}

.plate-and-price h4 {
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;
   
}
.second-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.second-line p {
margin: 0;
white-space: nowrap;
text-overflow: ellipsis;
overflow: hidden;
line-height: 18px;
}

.plate-and-price p {
font-size: 15px;
font-weight: 300;


}
.plate-and-price span {
font-size: 15px;
font-weight: 700;
line-height: 18px;

}
.commander {
    display: flex;
    justify-content: center;
}
.button {
    color: white;
    font-weight: 500;
    background: linear-gradient(#9356DC, #FF79DA);
    border-radius: 25px;
    border: none;
    box-shadow: 0px 4px 10px 0px #00000040;
    width: 186px;
    height: 50px;
    display: flex;
    justify-content: space-around;
    cursor: pointer;
    opacity: 1;
    transition: all 300ms ease-out;
  }
  
    .button:hover {
    opacity:0.8;
    box-shadow:0px 4px 10px 0px #00000080;
 
  }


/****Media querries pour les écrans supérieurs à 768px (tablette)***/

@media screen and (min-width: 768px) {


  .menu {
    width: 600px;
  }
  .menu-section {
    width: 500px;
  }
  .image {
    height: 329px;
  }
}




/****Media querries pour les écrans supérieurs à 1224px (desktop)***/

@media screen and (min-width: 1224px) {

  .menu {
  width: 1055px;
  
}

.menu-section {
  width: 634px;
}

.image {
  height: 383px;
}
}
